# Statistics Advance Assignment-6

### Q1. Explain the assumptions required to use ANOVA and provide examples of violations that could impact the validity of the results.

### Assumptions:
1) Normality of Sampling Distribution:
       The sample mean is normally distributed.
        _Example of Violation: if the data is highly skewed to one side, it may violate the normality assumption._

2) Absence of Outliers:
        Any Outliers present in the data should be removed.
        _Example of Violation:if the data contains outliers, it may violate the normality assumption._
        
3) Homogenity of Variance:
        Each of the population has same variance.
        (σ1** 2) = (σ2** 2) = (σ3** 2)
        Population variance in different level of each independent variable are equal.
         _Example of Violation: if one group has much larger variability compared to the others, the assumption is violated._

4) Sample are Independent and Random:
        _Example of Violation: if the same individuals are measured multiple times in different groups, the independence assumption is violated._
        
If these assumptions are satisfied we can apply ANOVA.

### Q2. What are the three types of ANOVA, and in what situations would each be used?

The 3 types of ANOVA are as follows:
    
#### 1] One Way ANOVA : One factor with atleast 2 levels, these levels are independent.

_eg: Doctor wants to test a new medication to decreasen headache.They split the partipants in 3 condtions [10mg, 20mg, 30mg]. Doctor asks the patients to rate thier headache on a scale of [1-10]._
_In this example, Medication is a factor and 3 conditions are 3 levels._
    
    
#### 2] Repeated Measures ANOVA : One factor with atleast 2 levels but ythe levels are dependent.

_eg: Consider a factor Running and levels as Day1, Day2 and Day3._
    
    
#### 3] Factorial ANOVA : Two or more factors each of which with atleast 2 levels. Levels can be dependent or independent.

 _eg: Consider a Data consisting a factor Running and levels as Day1, Day2 and Day3.
and Another factor Gender and levels as Male and Female._

### Q3. What is the partitioning of variance in ANOVA, and why is it important to understand this concept?

In ANOVA, the partitioning of variance means dividing the total variability in the data into different parts. This helps us understand how much of the overall variation is due to the differences between groups we are comparing.

#### There are three main parts:

* Between-group variance: This measures the differences between the groups being compared. It tells us how much the groups differ from each other because of the factor we are studying.

* Within-group variance: This measures the variation within each group. It represents the random or unexplained differences within the groups that are not related to the factor we are studying.

* Total variance: This is the overall variability in the data, which includes both the differences between groups and the differences within groups.

#### Understanding this concept is important because it helps us:

* Identify the main sources of variation: We can figure out how much of the variation is due to the factor we are interested in and how much is just random variation.

* Assess the strength of the effect: We can see how strong the relationship is between the factor we are studying and the outcome.

* Test hypotheses and draw conclusions: We can determine if the differences between groups are statistically significant.

### Q4. How would you calculate the total sum of squares (SST), explained sum of squares (SSE), and residual sum of squares (SSR) in a one-way ANOVA using Python?

In [1]:
Group1=[23,25,18]
Group2=[29,19,21]
Group3=[35,17]

In [2]:
import numpy as np

In [3]:
mean1=np.mean(Group1)
mean2=np.mean(Group2)
mean3=np.mean(Group3)

In [4]:
Grand_mean = (np.sum(Group1) + np.sum (Group2) + np.sum (Group3)) / ((len(Group1)+len(Group2)+len(Group3)))

In [5]:
Grand_mean

23.375

Sum of squares within (SSW):

* For each subject, compute the difference between its score and its group mean. You thus have to compute each of the group means, and compute the difference between each of the scores and the group mean to which that score belongs
* Square all these differences
* Sum the squared differences

In [6]:
sum1=[]
sum2=[]
sum3=[]
for i in Group1:
    sum1.append((i - mean1)**2)
for i in Group2:
    sum2.append((i - mean2)**2)
for i in Group3:
    sum3.append((i - mean3)**2)

In [7]:
SSW=np.sum(sum1) + np.sum (sum2) + np.sum(sum3)
SSW

244.0

Sum of squares between (SSB):

* For each subject, compute the difference between its group mean and the grand mean. The grand mean is the mean of all N scores (just sum all scores and divide by the total sample size )
* Square all these differences
* Sum the squared differences

In [8]:
ssb1=[]
ssb2=[]
ssb3=[]
for i in Group1:
    ssb1.append((mean1- Grand_mean)**2)
for i in Group2:
    ssb2.append((mean2- Grand_mean)**2)
for i in Group3:
    ssb3.append((mean3- Grand_mean)**2)

In [9]:
SSB=np.sum(ssb1) + np.sum (ssb2) + np.sum(ssb3)

In [10]:
SSB

19.875

Sum of squares total (SST):
    
* For each subject, compute the difference between its score and the grand mean
* Square all these differences
* Sum the squared differences

In [11]:
sst1=[]
sst2=[]
sst3=[]
for i in Group1:
    sst1.append((i- Grand_mean)**2)
for i in Group2:
    sst2.append((i- Grand_mean)**2)
for i in Group3:
    sst3.append((i- Grand_mean)**2)

In [12]:
SST= np.sum(sst1) + np.sum (sst2) + np.sum(sst3)

In [13]:
SST

263.875


If you have computed two of the three sums of squares, you can easily computed the third one by using the fact that SST = SSW + SSB.

### Q5. In a two-way ANOVA, how would you calculate the main effects and interaction effects using Python?

In [14]:
import numpy as np
import pandas as pd
from scipy import stats

In [15]:
# Create sample data for two factors (A and B) and the response variable (Y)
A = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
B = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]
Y = [10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [16]:
# Combine the data into a DataFrame
data = pd.DataFrame({'A': A, 'B': B, 'Y': Y})

In [17]:
data

   A  B   Y
0  1  1  10
1  2  1  12
2  3  1  14
3  4  1  16
4  5  1  18
5  1  2  20
6  2  2  22
7  3  2  24
8  4  2  26
9  5  2  28

In [18]:
# Calculate the main effects and interaction effect
main_effect_A, pvalue_A = stats.f_oneway(data[data['B'] == 1]['Y'],
                                         data[data['B'] == 2]['Y'])

main_effect_B, pvalue_B = stats.f_oneway(data[data['A'] == 1]['Y'],
                                         data[data['A'] == 5]['Y'])

interaction_effect, pvalue_interaction = stats.f_oneway(data[data['A'] == 1]['Y'],
                                                        data[data['A'] == 5]['Y'], 
                                                        data[data['A'] == 2]['Y'],
                                                        data[data['A'] == 4]['Y'])

print("Main Effect A:", main_effect_A)
print("Main Effect B:", main_effect_B)
print("Interaction Effect:", interaction_effect)

Main Effect A: 25.0
Main Effect B: 1.28
Interaction Effect: 0.5333333333333333

### Q6. Suppose you conducted a one-way ANOVA and obtained an F-statistic of 5.23 and a p-value of 0.02. What can you conclude about the differences between the groups, and how would you interpret these results?

* F-statistic:

The F-statistic (5.23 in this case) measures the extent of differences between the groups in the one-way ANOVA.
A higher F-statistic suggests that the differences between the groups are more noticeable and significant.
p-value:

* P-value:

The p-value (0.02 in this case) provides a measure of the strength of evidence against the null hypothesis.
A p-value of 0.02 means that there is a 2% chance of obtaining such a large F-statistic if there were actually no real differences between the groups.

*Interpretation*

* Differences between the groups:

The obtained F-statistic of 5.23 indicates that there are noticeable differences between the groups.
These differences are not likely to occur by random chance alone.
Statistical significance:

* P-value:

The low p-value of 0.02 suggests strong evidence against the null hypothesis.
It indicates that the observed differences between the groups are unlikely to be due to random variation alone.

### Q7. In a repeated measures ANOVA, how would you handle missing data, and what are the potential consequences of using different methods to handle missing data?

#### Handling missing data:

* Listwise deletion: Exclude any participant with missing data on any variable from the analysis. It reduces the sample size but provides a complete case analysis.
* Pairwise deletion: Use available data for each specific comparison. It retains more participants but can result in different sample sizes for different comparisons.
* Imputation: Fill in missing values with estimated values. It allows for all participants to be included, but the accuracy of results depends on the chosen imputation method.

#### Potential consequences of different methods:

* Listwise deletion: May introduce bias if missingness is related to the variables being analyzed. It reduces the sample size and can limit generalizability.
* Pairwise deletion: Retains more participants but can result in different sample sizes for different comparisons, affecting precision and generalizability.
* Imputation: Keeps all participants and maintains statistical power. However, the accuracy of results depends on the chosen imputation method, and imputed values introduce uncertainty.

### Q8. What are some common post-hoc tests used after ANOVA, and when would you use each one? Provide an example of a situation where a post-hoc test might be necessary.

After conducting an ANOVA with multiple groups, we often use post-hoc tests to compare the groups and see which ones are different from each other. Some common post-hoc tests are Tukey's HSD, Bonferroni correction, and Sidak correction. These tests help determine which group means are significantly different from each other. For example, if we conducted an ANOVA comparing the effectiveness of different treatments, a post-hoc test would help us identify which treatments show significant differences in their effectiveness.

### Q9. A researcher wants to compare the mean weight loss of three diets: A, B, and C. They collect data from 50 participants who were randomly assigned to one of the diets. Conduct a one-way ANOVA using Python to determine if there are any significant differences between the mean weight loss of the three diets. Report the F-statistic and p-value, and interpret the results.

In [19]:
import pandas as pd
# Weight loss from each of the diet
A = [2, 4, 3, 5, 1, 2, 3, 4, 2, 3, 4, 5, 3, 2, 1, 2, 3, 4, 3, 5, 4, 2, 3, 1, 4,
    3, 2, 3, 2, 4, 3, 2, 1, 2, 3, 4, 5, 3, 2, 1, 2, 3, 4, 3, 5, 4, 2, 3, 1,2]
B = [3, 1, 2, 1, 2, 3, 4, 3, 2, 3, 4, 5, 3, 2, 1, 2, 3, 4, 3, 5, 4, 2, 3, 1, 4,
    3, 2, 3, 2, 4, 3, 2, 1, 2, 3, 4, 5, 3, 2, 1, 2, 3, 4, 3, 5, 4, 2, 3, 1,2]
C = [1, 2, 3, 4, 3, 5, 4, 2, 3, 1, 4, 3, 2, 3, 2, 4, 3, 2, 1, 2, 3, 4, 5, 3, 2,
    1, 2, 3, 4, 3, 5, 4, 2, 3, 1, 2, 3, 4, 5, 3, 2, 1, 2, 3, 4, 3, 5, 4, 2,1]

* Null Hypothesis [Ho] : µA = µB = µC
* Alternate Hypothesis[H1] : µA is not equal to µB is not equal to µC.

* Significance Value : α = 0.05 (Assuming)

* Degree of freedom : N = 150, n=50, a=3
    
       df between = a-1 =2
       df within = N-a = 150 -3 = 147
       df total = 150-1 = 149

In [20]:
import scipy.stats as stat
#Degrees of freedom
df_between = 2
df_within = 147
df_total = 149

# Significance level (alpha)
alpha = 0.05

# Calculate the critical value
critical_value = stat.f.ppf(1 - alpha, df_between, df_within)

# Print the critical value
print("Critical value:", critical_value)

Critical value: 3.057620651649394

In [21]:
mean1=np.mean(A)
mean2=np.mean(B)
mean3=np.mean(C)

In [22]:
Grand_mean = (np.sum(A) + np.sum (B) + np.sum (C)) / ((len(A)+len(B)+len(C)))

In [23]:
# Calculating Sum of Square Within
ssw1=[]
ssw2=[]
ssw3=[]
for i in A:
    ssw1.append((i - mean1)**2)
for i in B:
    ssw2.append((i - mean2)**2)
for i in C:
    ssw3.append((i - mean3)**2)

In [24]:
SSW=np.sum(ssw1) + np.sum (ssw2) + np.sum(ssw3)
SSW

201.88

In [25]:
# Calculating Sum of Square Between
ssb1=[]
ssb2=[]
ssb3=[]
for i in A:
    ssb1.append((mean1- Grand_mean)**2)
for i in B:
    ssb2.append((mean2- Grand_mean)**2)
for i in C:
    ssb3.append((mean3- Grand_mean)**2)
SSB=np.sum(ssb1) + np.sum (ssb2) + np.sum(ssb3)
SSB

0.2800000000000005

In [26]:
# Calculating Sum of Square Total
sst1=[]
sst2=[]
sst3=[]
for i in A:
    sst1.append((i- Grand_mean)**2)
for i in B:
    sst2.append((i- Grand_mean)**2)
for i in C:
    sst3.append((i- Grand_mean)**2)

In [27]:
SST= np.sum(sst1) + np.sum (sst2) + np.sum(sst3)

In [28]:
SST

202.16000000000003

In [29]:
## Another method for SST
SSW + SSB

202.16

In [30]:
# Mean of Squares

Ms_between = SSB/df_between

Ms_within = SSW/df_within

Ms_total = SST/df_total

In [31]:
f = Ms_between / Ms_within

In [32]:
import scipy.stats as stats

# F-statistic and degrees of freedom
f_statistic = f  # Replace with the actual calculated F-statistic
df_between = 2
df_within = 147

# Calculate the p-value
p_value = 1 - stats.f.cdf(f_statistic, df_between, df_within)

# Print the p-value
print("p-value:", p_value)

p-value: 0.903145943262158

In [33]:
if f > 3.057620651649394:
    print ("Reject the Null Hypothesis.")
else :
    print ("We Fail to Reject the Null Hypothesis.")

We Fail to Reject the Null Hypothesis.

The one-way ANOVA results indicate that we fail to reject the null hypothesis. This means that there is not enough evidence to conclude that there are significant differences between the mean weight loss of the three diets (A, B, and C).

### Q10. A company wants to know if there are any significant differences in the average time it takes to complete a task using three different software programs: Program A, Program B, and Program C. They randomly assign 30 employees to one of the programs and record the time it takes each employee to complete the task. Conduct a two-way ANOVA using Python to determine if there are any main effects or interaction effects between the software programs and employee experience level (novice vs. experienced). Report the F-statistics and p-values, and interpret the results.

In [34]:
import pandas as pd

# Arrays for time, program, and experience
time = [12, 15, 18, 14, 16, 13, 11, 17, 20, 19, 14, 16, 13, 12, 15, 18, 14, 16, 13, 11, 17, 20, 19, 14, 16, 13, 12, 15, 18, 14]
program = ['A', 'B', 'C'] * 10
experience = ['Novice', 'Experienced'] * 15

# Create the DataFrame
data = pd.DataFrame({'Time': time, 'Program': program, 'Experience': experience})

# Display the DataFrame
data.head()

   Time Program   Experience
0    12       A       Novice
1    15       B  Experienced
2    18       C       Novice
3    14       A  Experienced
4    16       B       Novice

In [35]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [36]:
model = ols("Time ~ Program + Experience + Program:Experience", data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

_To interpret the results, focus on the p-values. A p-value less than the significance level (e.g., 0.05) suggests that there is a significant effect._

* If the p-value for the "Program" factor is significant, it indicates that there are significant differences in the average time to complete the task among the three software programs (A, B, and C).
* If the p-value for the "Experience" factor is significant, it suggests that there are significant differences in the average time to complete the task between novice and experienced employees.
* If the p-value for the interaction effect is significant, it implies that the effect of the software program on the time to complete the task differs depending on the employee's experience level.

In [37]:
print(anova_table)

# Example interpretation
if anova_table['PR(>F)']['Program'] < 0.05:
    print("There is a significant difference in the average time to complete the task among the software programs.")

if anova_table['PR(>F)']['Experience'] < 0.05:
    print("There is a significant difference in the average time to complete the task between novice and experienced employees.")

if anova_table['PR(>F)']['Program:Experience'] < 0.05:
    print("There is a significant interaction effect between the software programs and employee experience level.")

                        sum_sq    df         F    PR(>F)
Program               1.866667   2.0  0.173375  0.841866
Experience            0.033333   1.0  0.006192  0.937932
Program:Experience   69.066667   2.0  6.414861  0.005863
Residual            129.200000  24.0       NaN       NaN
There is a significant interaction effect between the software programs and employee experience level.

### Q11. An educational researcher is interested in whether a new teaching method improves student test scores. They randomly assign 100 students to either the control group (traditional teaching method) or the experimental group (new teaching method) and administer a test at the end of the semester. Conduct a two-sample t-test using Python to determine  if there are any significant differences in test scores between the two groups. If the results are significant, follow up with a post-hoc test to determine which group(s) differ significantly from each other.

In [38]:
import numpy as np
from scipy import stats

In [39]:
# Generate random test scores for the control and experimental groups
np.random.seed(42)  # Set a seed for reproducibility
control_scores = np.random.normal(loc=70, scale=10, size=100)
experimental_scores = np.random.normal(loc=75, scale=10, size=100)

In [40]:
# Perform two-sample t-test
t_statistic, p_value = stats.ttest_ind(control_scores, experimental_scores)
alpha = 0.05  # Significance level

In [41]:
print("Two-sample t-test results:")
print(f"t-statistic: {t_statistic:.4f}")
print(f"p-value: {p_value:.4f}")

Two-sample t-test results:
t-statistic: -4.7547
p-value: 0.0000

In [42]:
if p_value < alpha:
    print("There is a significant difference in test scores between the control and experimental groups.")
else:
    print("There is no significant difference in test scores between the control and experimental groups.")

There is a significant difference in test scores between the control and experimental groups.

In [43]:
df = pd.DataFrame({
    'Test Scores': np.concatenate([control_scores, experimental_scores]),
    'Group': np.concatenate([np.repeat('Control', len(control_scores)),
                             np.repeat('Experimental', len(experimental_scores))])
})

In [44]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

tukey_results = pairwise_tukeyhsd(df['Test Scores'], df['Group'])
print(tukey_results)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
 group1    group2    meandiff p-adj lower  upper  reject
--------------------------------------------------------
Control Experimental   6.2615   0.0 3.6645 8.8585   True
--------------------------------------------------------

### Q12. A researcher wants to know if there are any significant differences in the average daily sales of three retail stores: Store A, Store B, and Store C. They randomly select 30 days and record the sales for each store on those days. Conduct a repeated measures ANOVA using Python to determine if there are any significant differences in sales between the three stores. If the results are significant, follow up with a post- hoc test to determine which store(s) differ significantly from each other.

In [45]:
import numpy as np

store_a=np.random.randint(10000,25000,30)
store_b=np.random.randint(10000,20000,30)
store_c=np.random.randint(10000,30000,30)

In [46]:
# Create a dataframe with the sales data
df = pd.DataFrame({
    'Day': list(range(1, 31)) * 3,  # Day numbers
    'Store': ['A'] * 30 + ['B'] * 30 + ['C'] * 30,  # Store labels
    'Sales': [120, 135, 128, 110, 115, 130, 125, 132, 122, 130, 133, 140, 120, 128, 118, 122, 128, 115,
              150, 142, 138, 145, 148, 135, 138, 132, 130, 128, 120, 125, 170, 175, 180, 165, 168, 172,
              210, 198, 202, 190, 205, 192, 158, 160, 168, 155, 150, 165, 132, 135, 138, 140, 142, 128,
              125, 120, 122, 118, 115, 155, 152, 148, 150, 160, 158, 240, 235, 230, 220, 225, 222, 178,
              172, 180, 185, 188, 195, 168, 175, 172, 170, 162, 158, 198, 205, 210, 202, 200, 192,323]
})

In [47]:
print(df.head())

   Day Store  Sales
0    1     A    120
1    2     A    135
2    3     A    128
3    4     A    110
4    5     A    115

In [48]:
import statsmodels.api as sm

In [49]:
from statsmodels.formula.api import mixedlm

In [50]:
df['Store'] = df['Store'].astype('category')
df['Day'] = df['Day'].astype('category')

# Fit the repeated measures ANOVA model
model = mixedlm('Sales ~ Store', data=df, groups=df['Day'])
result = model.fit()

# Print the ANOVA table
print(result.summary())

         Mixed Linear Model Regression Results
========================================================
Model:             MixedLM Dependent Variable: Sales
No. Observations:  90      Method:             REML
No. Groups:        30      Scale:              708.5962
Min. group size:   3       Log-Likelihood:     -415.4107
Max. group size:   3       Converged:          Yes
Mean group size:   3.0
--------------------------------------------------------
            Coef.  Std.Err.   z    P>|z|  [0.025  0.975]
--------------------------------------------------------
Intercept  129.400    4.939 26.200 0.000 119.720 139.080
Store[T.B]  29.033    6.873  4.224 0.000  15.562  42.504
Store[T.C]  63.033    6.873  9.171 0.000  49.562  76.504
Group Var   23.196    3.134
========================================================

#### Conclusion: results suggest that store type has a significant impact on sales. Stores of type T.B and T.C have significantly higher sales than the average store.

## The End